﻿@page
@model About_Us

@{
    ViewData["Title"] = "About Us";
}

<body class = "AboutUsBody">
<div class = "AboutUsDivMain">
    <h1 class = "AboutUsHeader">"Draw from Randomness"</h1>
    <div class = "AboutUsDiv">
        <h2 class="AboutUsMission">Our Mission</h2>
        <p class = "AboutUsMissionText">We aim to provide inspiration and guide innovative creation for all artists.</p>
    </div>
</div>

<div class = "AboutUsPeopleParent">
    <div class = "AboutUsPeople">
        <div class = "AboutUsImageContainer">
            
        </div>
        <h1 class = "AboutUsNames">Jagroop Gill</h1>
        <h2 class = "AboutUsMajor">Major: Computer Science</h2>
        <p class = "AboutUsContact">Contact: jsg362@drexel.edu</p>
    </div>
    
    
    <div class = "AboutUsPeople">
        
        <div class="AboutUsImageContainer">
            
        </div>
        <h1 class = "AboutUsNames">Aidan Leyden</h1>
        <h2 class = "AboutUsMajor">Major: Software Engineering</h2>
        <p class = "AboutUsContact">Contact: asl337@drexel.edu</p>
        
    </div>
    
    
    <div class = "AboutUsPeople">
        <div class="AboutUsImageContainer">
            
        </div>
        <h1 class = "AboutUsNames">Akhil Binumon</h1>
        <h2 class = "AboutUsMajor">Major: Computer Science</h2>
        <p class = "AboutUsContact">Contact: ayb32@drexel.edu</p>
    </div>
    
    <div class = "AboutUsPeople">
        <div class="AboutUsImageContainer">
            
        </div>
        <h1 class = "AboutUsNames">Phillip Phan</h1>
        <h2 class = "AboutUsMajor">Major: Information Systems</h2>
        <p class = "AboutUsContact">Contact: php46@drexel.edu</p>        
    </div>
</div>

</body>

