@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>

 body {
 
   /* background-image: url("https://c8.alamy.com/comp/2D1P4N9/background-with-dotted-pattern-at-the-cornerswhite-backdrop-with-black-dotscirclesraster-modern-optical-pop-art-texture-for-posters-business-cards-2D1P4N9.jpg");
   background-position: 50% 50%;
   background-repeat: repeat;
   
    Commented out Akhil's previous code */
   
 }
</style> 
<script>
src = 'site.js'
function copyHex(celement) { 
    let hexCopy = celement.innerText;
    let input = document.createElement('input');
    input.setAttribute('value', hexCopy);
    document.body.appendChild(input);
    input.select();

    document.execCommand('copy');
    document.body.removeChild(input);

}


</script>

<div class="text-center">
    <div class = gifDiv>
        <h1 class="introHeader">Welcome to Color Palette Generator!</h1>
        <h2 class="introHeaderBelow">Inspiration Awaits!</h2>
    </div>
    
    
    <div class = "linkDiv">
        <div>
            <p>Click below for our random palette generator:</p>
            <a asp-area="" asp-page="/Random Palette">Random Palette Generator</a>
        </div>
            
        <div>
            <p>Click below for our true palette generator:</p>
            <a asp-area="" asp-page="/TruePalette">True Palette Generator</a>
        </div>
    </div>
    
</div>




