﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
 body {
  /* background-image: url("https://c8.alamy.com/comp/2D1P4N9/background-with-dotted-pattern-at-the-cornerswhite-backdrop-with-black-dotscirclesraster-modern-optical-pop-art-texture-for-posters-business-cards-2D1P4N9.jpg");
   background-position: 50% 50%;
   background-repeat: repeat; */
 }
</style>
<p>
    As a team we discussed how our website interacts with user's data. We reasoned that our website does not interact with user's data in any meaningful way, and should not be a concern.
    Data Privacy Statement: The Color Palette Generator website collects no data or information from its users. Any attempt made to collect your data on our website is not associated or condoned by us.
    <h1 class = "PrivacyHeader">Log File Data</h1>
    In common with other websites, log files are stored on the web server saving details such as your IP address, browser type, referring page and time of visit. This information is not used to track individual visitors to this website.
    <h2 class = "PrivacyHeader">Cookies & Your Personal Data</h2>
    Cookies are small digital signature files that are stored by your web browser that allow your preferences to be recorded when visiting the website. Also they may be used to track your return visits to the website.
    We might use cookies to store your preferences when you visit the Color-Website. This helps us to improve your experience as a visitor by tracking your interests, and lets us identify repeat visitors.
    <br>
    » We don't collect any personal information from you unless you supply it and we need it
    <br>
    » We won't share your personal information with anyone else.</p>
    