﻿@page
@model Random_Palette

@{
    ViewData["Title"] = "Random Palette";
}

<!DOCTYPE html>


<script>
src = 'site.js'
function copyHex(celement) { 
    let hexCopy = celement.innerText;
    let input = document.createElement('input');
    input.setAttribute('value', hexCopy);
    document.body.appendChild(input);
    input.select();

    document.execCommand('copy');
    document.body.removeChild(input);

}


</script>


<html>
<head>
    <title>Random Pallete</title>
</head>



<div class="text-center">
    <div class = "text-center">
        <h1>Random Palette Generator</h1>
    </div>
    <h2>
        <p class = "genPaletteInstructions">Click on the palette below or use the spacebar to generate random colors</p>
        <button id="genNew" class="button"></button>
        <br>
        <br>
        <span id="palName" class = "paletteName"></span>
        <br>
        <br>
        <div class="hexDiv">
            <script>
                $(".hexcodeStyle").on("click", function () {
                
                $(".hexCodeStyle").removeClass("active");
                
                $(this).addClass("active");
                
                });

            </script>
            <button id="color" onclick="copyHex(color)" class="hexcodeStyle"></button>
            <button id="color2" onclick="copyHex(color2)" class="hexcodeStyle"></button>
            <button id="color3" onclick="copyHex(color3)" class="hexcodeStyle"></button>
            <button id="color4" onclick="copyHex(color4)" class="hexcodeStyle"></button>
            <button id="color5" onclick="copyHex(color5)" class="hexcodeStyle"></button>
            <button id="color6" onclick="copyHex(color6)" class="hexcodeStyle"></button>

        </div>
        <canvas width="1000" height="200"></canvas>
    </h2>
    <div class = "lockDiv">
        <button onclick = "lockToggle()" id="locked1" class = "lockButton"></button>
        <button onclick = "lockToggle2()" id="locked2" class = "lockButton"></button>
        <button onclick = "lockToggle3()" id="locked3" class = "lockButton"></button>
        <button onclick = "lockToggle4()" id="locked4" class = "lockButton"></button>
        <button onclick = "lockToggle5()" id="locked5" class = "lockButton"></button>
        <button onclick = "lockToggle6()" id="locked6" class = "lockButton"></button>
    </div>
    <h4>
        <p>View your palette visualized through AI art:</p>
        <span id="linkai"></span>
    </h4>
    <h8>
        <p>(Keep in mind AI art is not perfect and it may take a couple of tries before you get a result you like)</p>
    </h8>
</div>

</html>