@page
@model CI_ColorWebs.Pages.TruePaletteModel
@{
    ViewData["Title"] = "True Palette";
}



<script>
src = 'truepalette.js'
function copyHex(celement) { 
    let hexCopy = celement.innerText;
    let input = document.createElement('input');
    input.setAttribute('value', hexCopy);
    document.body.appendChild(input);
    input.select();

    document.execCommand('copy');
    document.body.removeChild(input);
    
}
</script>


<div class="text-center">
    <h1>True Palette Generator</h1>
    <h2>
        
        <p class="genPaletteInstructions">Click on the palette below or use the spacebar to generate random palettes</p>

        <button id="gsetNew" class=button></button>
        <br>
        <br>
        <span id="palNameTrue" class="paletteNameTrue"></span>
        <br>
        <br>
        <div class="hexDiv">
            <button id="palColor" onclick="copyHex(palColor)" class="hexcodeStyle"></button>
            <button id="palColor2" onclick="copyHex(palColor2)" class="hexcodeStyle"></button>
            <button id="palColor3" onclick="copyHex(palColor3)" class="hexcodeStyle"></button>
            <button id="palColor4" onclick="copyHex(palColor4)" class="hexcodeStyle"></button>
            <button id="palColor5" onclick="copyHex(palColor5)" class="hexcodeStyle"></button>
            <button id="palColor6" onclick="copyHex(palColor6)" class="hexcodeStyle"></button>
        </div>
        <canvas width="1000" height='200'></canvas>

    </h2>
    <h3>
        <p>View your palette visualized through AI art:</p>
        <span id="Tlinkai"></span>
        </h3>
    <h8>
        <p>(Keep in mind AI art is not perfect and it may take a couple of tries before you get a result you like)</p>
        </h8>
</div>
<script src = './js/truepalette.js'></script>
