html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.AboutUsDivMain {
  top: 300px;
}

.AboutUsHeader {
  text-align: center;
  font-family: "Optima", monospace;
  color: #525252;  
  font-size: 100px;
  font-weight: 500;
  margin-top: 300px;
  letter-spacing: 3px;
}

.AboutUsDiv {
  width: 90%;
  height: 450px;
  background-color: #CCCCCC;
  border: 20px solid #525252;
  margin: 350px 5%;
}

.AboutUsBody {
  background-color: #CCCCCC;
  
}

.AboutUsMission {
  text-align: center;
  margin-top: 25px;
  color: black;
  font-family: "Optima", serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 6px;
  
}
.AboutUsMissionText {
  text-align: center;
  color: #525252;
  margin-top: 45px;
  font-size: 55px;
  font-family: monospace;
}

.AboutUsPeopleParent {
  width: 100%;
  height: 1200px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.AboutUsPeople{
  height: 50%;
  width: 50%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutUsImageContainer{
  height: 40%;
  width: 60%;
  top: 15px;
  left: 20%;
  border: solid 2px black;
}

.AboutUsNames{
  margin-top: 30px;
  color: black;
  font-size: 55px;
  font-weight: 400;
  font-family: "Aileron", sans-serif;
}

.AboutUsMajor {
  margin-top: 40px;
  margin-bottom: 60px;
  color: #525252;
  font-size: 30px; 
  font-family: "Monaco", monospace;
  
}

.AboutUsContact{
  font-size: 20px;
  font-weight: 400;
}

.PrivacyHeader{
  margin-top: 30px;
  color: black;
  font-size: 40px;
  font-weight: 400;
  font-family: "Aileron", sans-serif;
}

.introHeader {
  text-align: center;
  font-size: 95px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 85px;
  margin-top: 75px;
  color: #30332E;
  
}

.introHeaderBelow{
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: normal;
  margin-bottom: 50px;
  
  color: #30332E;
}

.gifDiv{
  background-image:url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWY4MDA3YmQ1OGY5OTBmZDYwNTlkMjVkYjI3ODIyMzJhZDhlMjNlNCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/LriNaxs61RKYMlrZuY/giphy.gif"); 
  background-repeat: round;
  background-size: contain;
  
}

.button{
  padding: 80px 80px;
  border-radius: 12px;
  background-image: url("https://www.pngmart.com/files/9/Paint-Palette-PNG-Free-Download.png");
  background-repeat: round;
  color: black;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border: 0 solid white;
  
}

.button:hover{
  box-shadow: 8px 8px lightgray;
  transition: .7s;

}

.genPaletteInstructions{
  margin-top: 15px;
  margin-bottom: 0px;
  color: #30332E;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  font-style: oblique;
}

.paletteName{
  font-weight: 500;
  font-size: 35px;
  color: #30332E;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  
  
}

.hexDiv {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*border: solid 2px black;*/
  margin-left: 150px;
  margin-bottom: 15px;
}

.hexcodeStyle {
  font-size: 30px;
  font-weight: normal;
  margin-right: 15px;
  margin-left: 8px;
  text-align: center;
  background-color: white;
  position: relative;
  border: black solid 2px;
  border-radius: .35rem;
}


.hexcodeStyle:before {
  --scale: 0;
  
  position: absolute;
  
  top: -.25rem;
  left: 50%;
  padding: .3rem;
  width: max-content;
  background: lightgray;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  border-radius: .3rem;
  text-align: center;
  color: black;
  font-size: 12px;
  transition: 100ms;
  transform-origin: bottom center;
}

.hexcodeStyle:hover::before{
  --scale: 1;
  content: 'Copy color';
  
}

.hexcodeStyle:active::before{
  
  content: 'Copied!';
}



.linkDiv {
  
  border: solid 0px black;
  display: flex;
  justify-content: space-evenly;
  
  
}

.lockDiv {

  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: solid 2px white;
  margin-bottom: 15px;
  margin-left: 150px;
  
}

.lockButton {
  padding: 12px 12px;
  margin-right: 8px;
  border-radius: 12px;
  background-image: url("padlock-unlock.png");
  background-repeat: round;
  color: black;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border: 0 solid white;
}

.lockClose {
  padding: 12px 12px;
  margin-right: 8px;
  border-radius: 12px;
  background-image: url("lock.png");
  background-repeat: round;
  color: black;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border: 0 solid white;
}





